/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff'),
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff'),
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff'),
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #009DE0;

  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d73738;

  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;

  --basic-yellow: #efc84a;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;

  --basic-grey: #eeeeee;
  --basic-grey-hover: #dfdfdf;
  --basic-grey-active: #d5d5d5;

  --basic-form-icon: #4d4d4d;
  --basic-grey-icon: #a6a6a6;
  --basic-grey-social: #e1e1e1;
  --basic-grey-slider: #c1c1c1;

  --basic-gray-text: #666666;
  --basic-black-text: #283136;
  --basic-form-value: #444444;

  --basic-form: #d7dcde;
  --basic-form-hover: #b4b9bb;
  --basic-form-scale: #d7dcdf;
  --basic-form-range: #ababab;
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin-left: -40px;
 }

/* Main navigation */

.main-menu {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey);
 }

.container {
  background-color: transparent;
 }

.main-menu a {
    color: var(--basic-black);
  }

.main-menu a:not([href]):not(.main-menu-logo) {
    border-bottom: 2px solid var(--basic-red);
  }

.main-menu a:not(.menu-active):hover,
.main-menu a:not(.menu-active):focus {
   color: var(--basic-red);
 }

.main-menu a:not(.menu-active):focus {
   outline-color: var(--basic-red);
   outline-width: 3px;
 }

.main-menu a:not(.menu-active):not(.main-menu-logo):active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-menu-logo:not(.menu-active):active svg {
  fill: var(--basic-grey-icon);
}

.menu-cart {
  position: relative;
}

.menu-cart a {
  padding-left: 40px;
}

/* Services */

.services h3 {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}
/*
.services li {
  position: relative;
}

.services h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 10px;
}

.service-1 h3::before {
  background-color: var(--basic-red);
  background-image: url(../img/service-1.png);
}

.service-2 h3::before {
  background-color: var(--basic-green);
  background-image: url(../img/service-2.jpg);
}

.service-3 h3::before {
  background-color: var(--basic-yellow);
  background-image: url(../img/service-3.jpg);
}
*/

/* Button */

.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-red {
  background-color: var(--basic-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red-hover);
}
.button-red:focus {
  outline-color: var(--basic-red-active);
  outline-width: 3px;
}
.button-red:active {
  background-color: var(--basic-red-active);
}

.button-green {
  background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-hover);
}
.button-green:focus {
  outline-color: var(--basic-green-active);
  outline-width: 3px;
}
.button-green:active {
  background-color: var(--basic-green-active);
}

.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-hover);
}
.button-yellow:focus {
  outline-color: var(--basic-yellow-active);
  outline-width: 3px;
}
.button-yellow:active {
  background-color: var(--basic-yellow-active);
}
