/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff'),
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff'),
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff'),
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #009DE0;

  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d73738;

  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;

  --basic-yellow: #efc84a;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;

  --basic-gray: #eeeeee;
  --basic-gray-hover: #dfdfdf;
  --basic-gray-active: #d5d5d5;

  --basic-form-icon: #4d4d4d;
  --basic-black-icon: #231f20;
  --basic-gray-icon: #a6a6a6;
  --basic-gray-social: #e1e1e1;
  --basic-gray-slider: #c1c1c1;

  --basic-gray-shadow:#bfbfbf;
  --basic-gray-border: #e6e6e6;
  --basic-gray-border-2: #dbdbdb;

  --basic-gray-text: #666666;
  --basic-black-text: #283136;
  --basic-form-value: #444444;

  --basic-form: #d7dcde;
  --basic-form-hover: #b4b9bb;
  --basic-form-scale: #d7dcdf;
  --basic-form-range: #ababab;

  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-black-opacity-2: rgba(0, 0, 0, 0.6);
  --basic-box-shadow: rgba(0, 1, 1, 0.1);
  --form-value-opacity: rgba(68, 68, 68, 0.5); /* #444444 */
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
}

h1 {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
  background-color: var(--basic-gray);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-menu {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.container {
  background-color: transparent;
}

.main-menu-logo {
  display: block;
  width: 160px;
  height: 65px;
}

.main-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu a:not([href]):not(.main-menu-logo) {
  border-bottom: 2px solid var(--basic-red);
}

.main-menu a:not(.menu-active):hover,
.main-menu a:not(.menu-active):focus {
  color: var(--basic-red);
}

.main-menu a:not(:active):focus {
  outline: none;
  box-shadow:
    0 0 0 3px var(--basic-gray),
    0 0 0 6px var(--basic-red);
}

.main-menu a:not(.menu-active):not(.main-menu-logo):active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-menu-logo:not(.menu-active):active svg {
  fill: var(--basic-gray-icon);
}

/* Slider */

.slider {
  background-color: var(--basic-gray);
}

.slider li {
  list-style: none;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
  color: var(--basic-black);
}

.slide {
  display: block;
  width: 1157px;
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: right bottom;
}

.slide-1 {
  background-image: url(../img/nerds-index-slide-1.jpg);
}

.slide-2 {
  background-image: url(../img/nerds-index-slide-2.jpg);
}

.slide-3 {
  background-image: url(../img/nerds-index-slide-3.jpg);
}

.slider-controls button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--basic-white);
}

/* Services */

.services h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services h3::before {
  content: "";
  position: absolute;
  left: 540px; /* Временное позиционирование */
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service-1 h3::before {
  background-color: var(--basic-red);
  background-image: url(../img/service-1.png);
}

.service-2 h3::before {
  background-color: var(--basic-green);
  background-image: url(../img/service-2.jpg);
}

.service-3 h3::before {
  background-color: var(--basic-yellow);
  background-image: url(../img/service-3.jpg);
}

/* About */

.about .about-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: medium;
  color: var(--basic-black);
}

.about .about-title {
  font-weight: bold;
  text-transform: uppercase;
}

.about li {
  list-style: none;
}
.statistics-title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-statistics table {
  text-align: left;
}

.about-statistics th {
  line-height: 18px;
  font-weight: normal;
}

.about-statistics td {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.about-statistics .statistics-unit {
  font-size: 26px;
  line-height: 40px;
}

/* Companies */

.companies li {
  list-style: none;
}

.companies a {
  opacity: 0.2;
}

.companies a:hover,
.companies a:focus {
  opacity: 1;
}

.companies a:not(:active):focus {
  outline: 3px solid var(--basic-red);
}

.companies a:active {
  opacity: 0.1;
}

/* Catalog */

.filter li,
.filter-sort li {
  list-style: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend,
.filter-sort h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}


/*
.filter-cost p {
  line-height: 22px;
}

.filter-cost output {
  text-align: center;
  color: var(--basic-gray-text);
  background-color: var(--basic-gray);
}
*/

.filter-sort .sort {
  border: none;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-opacity);
  background-color: var(--basic-wite);
}

.filter-sort .sort:hover,
.filter-sort .sort:focus {
  color: var(--basic-black-opacity-2);
}

.filter-sort .sort-active,
.filter-sort .sort:active {
  color: var(--basic-black);
}

.filter-sort .sort-icon {
  border: none;
  font-size: 0;
  background-color: var(--basic-white);
}

.sort-icon svg {
  fill: var(--basic-gray-icon);
  opacity: 0.2;
}

.sort-icon:hover svg,
.sort-icon:focus svg {
  opacity: 1;
}

.sort-icon-active svg,
.sort-icon:active svg {
  fill: var(--basic-black-icon);
  opacity: 1;
}

.items li.item {
  width: 358px;
  height: 750px; /* заменить на 578px */
  padding: 0;
  margin: 0;
  border: 1px solid var(--basic-gray-border);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  list-style: none;
}

.items .item:hover {
  border: none;
  box-shadow: 0px 6px 15px var(--basic-gray-shadow);
}

.item-text {
  line-height: 18px;
  text-align: center;
  color: var(--basic-gray-text);
  background-color: var(--basic-gray);
}

.item-text h3 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Button */

.button {
  border: none;
  border-radius: 3px;
  font: inherit;
  line-height: 18px;
  font-weight: medium;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
}

.button:active {
  color: var(--basic-white-opacity);
  box-shadow: inset 0px 3px 0px var(--basic-box-shadow);
}

.button-red {
  background-color: var(--basic-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red-hover);
}
.button-red:focus {
  outline: none;
  box-shadow:
    0 0 0 3px var(--basic-white),
    0 0 0 6px var(--basic-red-hover);
}
.button-red:active {
  background-color: var(--basic-red-active);
  box-shadow: none;
}

.button-green {
  background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-hover);
}
.button-green:focus {
  outline: none;
  box-shadow:
    0 0 0 3px var(--basic-white),
    0 0 0 6px var(--basic-green-hover);
}
.button-green:active {
  background-color: var(--basic-green-active);
  box-shadow: none;
}

.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-hover);
}
.button-yellow:focus {
  outline: none;
  box-shadow:
    0 0 0 3px var(--basic-white),
    0 0 0 6px var(--basic-yellow-hover);
}
.button-yellow:active {
  background-color: var(--basic-yellow-active);
  box-shadow: none;
}

.button-gray {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}
.button-gray:hover,
.button-gray:focus {
  background-color: var(--basic-gray-hover);
}
.button-gray:focus {
  outline: none;
  box-shadow:
    0 0 0 3px var(--basic-white),
    0 0 0 6px var(--basic-red-hover);
}
.button-gray:active {
  color: var(--basic-black-opacity);
  background-color: var(--basic-gray-active);
  box-shadow: none;
}

.pagination-list li {
  list-style: none;
}

.pagination-list .button-gray:not([href]) {
  border: 3px solid var(--basic-gray-border-2);
  background-color: var(--basic-white);
}

/* Main footer */

.main-footer {
  line-height: 22px;
  color: var(--basic-form-value);
  background-color: var(--basic-white);
}

.contacts {
  line-height: 18px;
  color: var(--basic-gray-text);
}

.contacts .contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Social */

.social li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social a {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray-social);
}

.social-icon {
  width: 81px;
  height: 81px;
  background-image: url(../img/icons.svg);
  background-repeat: no-repeat;
  background-size: 300px auto;
}

.social-icon-vk {
  background-position: -10px -10px;
}
.social-icon-fb {
  background-position: -109px -8px;
}
.social-icon-insta {
  background-position: -209px -10px;
}

.social a:hover,
.social a:focus {
  background-color: var(--basic-red-hover);
}
.social a:focus {
	outline: none;
	box-shadow:
		0 0 0 3px var(--basic-white),
		0 0 0 6px var(--basic-red);
}
.social a:active {
  box-shadow: inset 0px 3px 0px var(--basic-box-shadow);
  background-color: var(--basic-red-active);
}
a:active .social-icon {
  opacity: 0.3;
}

.social .call-to-action {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

/* Feedback */

.feedback {
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-black);
}

.feedback h2 {
  font-size: 45px;
  line-height: 50px; /* в макете значение auto */
}

.feedback-form-area {
  border: 2px solid var(--basic-form);
  border-radius: 3px;
  font: inherit;
  font-weight: normal;
  color: var(--form-value-opacity);
}

.feedback-form-area:hover {
  border-color: var(--basic-form-hover);
}

.feedback-form-area:focus {
  border-color: var(--basic-black);
  outline: none;
  color: var(--basic-form-value);
}

.feedback-form-area:invalid {
  border-color: var(--basic-red-hover);
  color: var(--basic-red-hover);
}
